body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
  }

  .container {
    width: 400px;
    margin: 20px auto;
  }

  h1 {
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }

  ul > li {
    margin-bottom: 5px;
  }

  .header-menu {
    font-size: 12px;
    font-weight: normal;
    float: right;
  }

  input[type="text"], textarea {
    box-sizing: border-box;
    width: 400px;
    padding: 5px;
  }

  textarea {
    height: 120px;
  }

  .error {
    font-size: 12px;
    color: tomato;
  }

  .edit {
    font-size: 12px;
  }

  .del {
    font-size: 12px;
  }

  h2 {
    font-size: 14px;
    padding-top: 25px;
  }